
body{
    border: 10px double black;
    background-color:#BCBDC0;
    padding: 8px;
       
}

h1 {
    color: #3B413C;
    background-color: ;
    font-family: sans-serif;
    text-decoration: underline;
    text-align: center;

}
#one {

 
    text-align: center;
    color:black;
    font-size: 1.2em;
}
.Sub-headings{
    text-decoration: underline;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#3B413C;
              
}
.Sub-headings:hover {
    text-transform: uppercase;
    font-weight: 900;
}

     
#ending-word {
    text-indent: 5em;
}
p {
    font-size: 1.2em;

}
.nav_bar_li {
    text-decoration: none;
    color: azure;
}
.nav_bar {
    color: #3C91E6;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 24px;
}

.nav_bar:hover {
    background-color: #342E37;
    color: white;
    padding: 10px ;
    border-radius: 10px;
}



.hm-btn{
    padding: 5px;
    border: 2px solid black;
    background-color: black;
    color: #BCBDC0;
    text-decoration: none;
    border-radius: 6px;
    text-align: center;
}


.bk-btn{
    padding: 5px;
    border: 2px solid black;
    background-color: black;
    color: #BCBDC0;
    text-decoration: none;
    border-radius: 6px;
}

li{
    margin:5px;
    padding:4px ;
    list-style: none;
    display: inline;
    text-align: justify;
}

